<%- include("partials/header.ejs") %>

    <div class="mycontainer text-center">
        <div class="mycontainer2 row">
            <div class="circles col-2">
                <div class="smallCircle row">
                    <div class="col-12 ">
                        <div class="sc"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="sc"></div>
                            </div>
                            <div class="col-6">
                                <div class="sc"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="sc"></div>
                    </div>
                </div>
                <div class="bigCircle">
                    <div class="bc"></div>
                </div>
            </div>
            <div class="row myrow col-lg-8 col-md-8 col-sm-12 ">
                <div class="col-6 text-start ps-5 pt-5 align-self-start">
                    <h2>
                        <%= userName %>
                    </h2>
                    <h2>
                        Score: <%= score %>
                    </h2>
                    <h2>
                        timer:10 sec
                    </h2>
                </div>

                <div class="col-6 text-end pe-5 pt-5 align-self-start">
                    <h2>
                        Level <%= level %>
                    </h2>
                    <h2>
                        Exit
                    </h2>
                    <h2>
                        Restart
                    </h2>
                </div>

                <div class="numbers gy-5 col-12 ">
                    <div class="row justify-content-md-center row-cols-auto align-items-center">
                        <%   numbers.forEach(element => { %>
                            <div class="col digit">
                                <%= element%>
                            </div>
                            <% }) %>                           
                    </div>
                </div>

                <div class="options gy-5 col-12 dispNone">
                    <div class="row gy-5 row-cols-2 justify-content-md-center row-cols-auto align-items-center">
                        <% options.forEach(element => { %>
                            
                            <form action="/<%= formPost %>" method="post">
                                <input type="text" name="ans" value="<%= element.value %>" id="" hidden>
                                <input type="text" name="userName" value="<%= userName %>" id="" hidden>
                                <input type="text" name="score" value="<%= score %>" id="" hidden>
                                <button class="submitBtn" type="submit"><%= element.option %></button>
                            </form>
                            <% }); %>
                        
                    </div>
                </div>
            </div>
            <div class="circles col-2">
                <div class="bigCircle">
                    <div class="bc"></div>
                </div>
                <div class="smallCircle row">
                    <div class="col-12 ">
                        <div class="sc"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="sc"></div>
                            </div>
                            <div class="col-6">
                                <div class="sc"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="sc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>